.container-categorias {

    text-align: center;
    color: #fff;
}

.categorias {
    background-color: #121212;
    min-height: 490px;
    margin: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-radius: 14px;

}

.card-categorias {
   max-height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: 8px;
    background-color: #191919;

    /* border: 1px blue solid; */
}

.text-price {
    font-size: 18px;
}

.text-price p:nth-child(2) {
    color: #5F259F;
}

.image img {
    width: 80%;
}

