@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    /* height: 100%; */
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #fff;  
    height: 100vh;  
}

.navbar img {
    width: 331px;
}

.navbar ul li {
    list-style: none;
    margin: 55px 0;
    /* padding: 3px; */
}

.navbar ul li a {
    margin: 0 16px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navbar #active {
    border: 0;
}

.navbar #active::after {
    display: inline-block;
    text-align: center;
    float: right; /* é velho mas funciona rs*/


    content: "";
    width: 7px;
    height: 44px;
    background-color: #5F259F;  
    flex: 1;  
}


.navbar ul li:last-child {
    margin-top: calc(55px * 4)
}

.navbar span {
    width: 45px;
    height: 45px;    
    margin: 8px;
    padding: 12px;
    border-radius: 14px;
    background-color: #1A1A1A;
}

.navbar ul li #active {
    background-color: rgba(103,57,183,10%);
}

.navbar span iconify-icon {
    /* margin: 8px auto; */
    font-size: 20px;
}

.navbar ul li:hover {
    border-right: 8px solid #5F259F;
}

.navbar ul li a.btn_sair {
    color: #E95065;
}

container-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* main */

header {
    display: flex;
    justify-content: space-around;
    align-content: space-around;

    margin: 32px 32px;

    /* border: 3px solid #fff; */

    /* width: 100%; */

    /* border: 1px solid blue; */

}

select {
    font-size: 16px;
    padding: 16px 48px;
    color: #fff;
    background-color: #121212;
    border: 0;
    cursor: pointer;
    border-radius: 14px;
    
}


header .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
 
}

.btn-alert, .btn-help {
   background-color: #121212;
    padding: 16px;
    margin: 0 24px;
    border-radius: 25%;
    cursor: no-drop;
}

.btn-help {
    cursor: help;
}

/* MAIN */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */

    margin: 24px 0;
}

main img {
    width: 530px;
    height: 300px;

    border-radius: 16px;
}

.content {
    display: flex;
    flex-direction: column;   
    flex: 2;
    
    /* border: 1px solid #5F259F; */
    /* width: 100%; */
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 32px;
   

    /* border: 1px solid blueviolet; */
}

.btn_income, .btn_expense {
    background-color: #121212;
    padding: 32px;

    width: 100%;

    text-align: center;

    margin: 16px 0;

    border-radius: 16px ;


}

.btn_income a, .btn_expense a {
    cursor: pointer;
    text-decoration: none;

    color: #fff;

    text-transform: uppercase;
    padding: 16px;

}

span img {
    width: 35px;
    height: 15px;

    margin: 0 24px ;
}

main.statistics {
    /* border: 1px solid green; */
    margin: 0 32px;
    height: 100%;
    align-items: flex-start;
}

main.statistics h1{
    font-size: 26px;
    color: #fff;
    font-weight: normal;
    margin-left: 16px;
}



section.resume {
    /* border: 1px solid #5F259F; */
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #121212;
    margin: 8px;
    padding: 16px;

    border-radius: 16px;
}

.resume-first {
    display: flex;
    justify-content: space-around;
    background-color: #191919;
    padding: 16px;
    margin: 0 100px;

    border-radius: 16px;

    /* border: 1px solid red; */   

}

.resume-incomes {
    flex: 1;
    background-color: #121212;
    padding: 16px;

    cursor: pointer;
    border-radius: 16px;

}

.resume-first span{
    color: #fff;    
}



.resume-expense {
    flex: 1;
    padding: 16px;
}

.last-months {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */

    justify-content: space-around;

    gap: 24px;
}

.last-months img {
    width: 25px;
    height: 25px;
}

.month-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: #121212;
}

.months-1,.months-2,.months-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 8px;
    background-color: #191919;
    width: 80px;
    height: 80px;
}



section.history {
    /* border: 1px solid #5F259F; */
    flex: 1;
    background-color: #121212;
    margin: 8px;
}





